{% extends 'base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "includes/profile_card.html" %}
            </div>

            <div class="col-md-9">                
                {% for post in page %}
                <!-- Начало блока с отдельным постом --> 
                {% include "includes/post_item.html" %}
                <!-- Конец блока с отдельным постом --> 
                {% if not forloop.last %}<hr>{% endif %}          
                <!-- Остальные посты -->  
                {% endfor %}
                <!-- Здесь постраничная навигация паджинатора -->
                <!-- Вывод паджинатора -->
                {% if page.has_other_pages %}
                {% include "includes/paginator.html" %}
                {% endif %}
     </div>
    </div>
</main>
{% endblock %} 